.body {
  --body-bg-color: #9666c5;
  --purple: #a46fda;
}

.Container {
  margin: auto;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  place-items: center;
}

.profile-picture {
  border: 2px solid #6c19c0;
  border-radius: 50%;

  width: 200px;
  height: 200px;
  margin-bottom: 20px;

  background: #6c19c0;
}

.profile-name {
  width: 99px;
  height: 24px;

  font-family: Poppins;
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 24px;
  /* identical to box height */
  margin-bottom: 20px;
  text-align: center;
  color: #6c19c0;
}

.buttom {
  font-family: Poppins;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  /* identical to box height */
  display: block;
  text-align: center;
  text-transform: uppercase;

  color: #6c19c0;

  width: 326px;

  border: 2px solid #6c19c0;
  box-sizing: border-box;
  border-radius: 4px;

  text-align: center;
  text-decoration: none;

  padding: 10px;
  margin-bottom: 20px;
}

.social {
  width: 236px;
  height: 24px;
  text-align: center;
  display: flex;
  justify-content: center;
  gap: 20px;
  color: #6c19c0;
}
